name: Build and Push Images

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      DOCKER_REGISTRY: ${{ secrets.DOCKERHUB_USERNAME }}/
      IMAGE_TAG: latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build images with Docker Compose
        run: docker compose -f docker-compose.yml build

      - name: List Docker Images
        run: docker images
      
      - name: Push images to Docker Hub
        run: docker compose -f docker-compose.yml push